---
const baseUrl = "https://rickandmortyapi.com/api/character";
let allCharacters = [];


async function fetchAllCharacters(url) {
  try {
    const response = await fetch(url);
    const data = await response.json();
    
    if (response.ok) {
      allCharacters = allCharacters.concat(data.results);
      
      if (data.info.next) {
        // If there's a next page, recursively fetch the next page
        await fetchAllCharacters(data.info.next);
      } else {
        // All characters have been fetched
        console.log("All characters have been fetched:", allCharacters);
      }
    } else {
      console.error("Error fetching characters:", data.error);
    }
  } catch (error) {
    console.error("An error occurred:", error);
  }
}


fetchAllCharacters(baseUrl);

---

<div> 
  {allCharacters.map((character => <h2>{character.name}</h2>))}
</div>
